.usuariosContainer {
  display: flex;
  padding: 35px 0px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px 45px;
  align-self: stretch;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 65px;
}

.div_detail{
  z-index: 100;
  width: 900px;
  height: 600px;
  position: absolute;
  margin: 0 auto;
}

.personCard,
.containerCard {
  text-align: center;
  color-scheme: only light;
  color: black;
  background: #FFF;
  /*min-height: 230px;*/
  /*   height: 100%; */
  display: flex;
  min-width: 289px;
  max-width: 330px;
  padding: 20px 15px;

  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1 0 0;
  text-align: left;
  overflow-wrap: anywhere;
  border-radius: 10px;
}

.personCard {
  flex-direction: row;
  height: 150px;
}

.containerCard {
  flex-direction: column;
  height: 220px;
}


.personCard ul {
  list-style: none;
  text-align: center;
}

/*Tarjetas rojas*/

.personCardRed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.personCardRed ul {
  list-style: none;
  text-align: center;
}

.username {
  font-size: 20px;
}

.imagenCard {
  /* width: 124px;
  height: 124px; */
  align-items: center;
  width: 88px;
  height: 114px;
  object-fit: cover;
}

.yellowCard {
  border: 5px solid #EC9F0B;
}

.redCard{
  text-align: left;
  border: 2px solid #A00000;
}

.searcherContainer {
  text-align: center;
  margin-top: 20px;
  color: wheat;
}

.searcherContainer h1 {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
}

.searchBar {
  /*   width: 550px;
  height: 62px;
  border: none;
  background-color:#D9D9D9;
  color: #000;
  text-align: center;
  transition: all .2s;
  font-size: 20px; */
  width: 516px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  text-align: center;
  background: #FFF;
  height: 80%;
  width: 450px;
  color: #000;
  font-size: 20px;
  border: none;
  outline: none;
}

.searchGlass {
  color: #000;
  width: 43px;
}

.yellow_alert {
  border: 5px solid #EC9F0B;
}

.red_alert{
  border: 2px solid #A00000;
}

/* .buscadorContainer input:hover{
  background-color:#ecdede;
  color: #000;
  text-align: center;
}

.buscadorContainer input:active{
  background-color:#ecdede;
  color: #000;
  text-align: center;
  outline: 1px solid #f3baba;

} */

.buscador-mensaje {
  margin: 15vh 0;
}

.containerCardMore{
  color: rgb(0, 0, 0);
  background-color: rgb(245, 245, 245);
  display: flex;
  padding: 20px 15px;
  justify-content: left;
  overflow-wrap: anywhere;
  border-radius: 5px;
  height: 500px;
  
  
}

.imagenCardMore{
  min-width: 400px;
  position: relative;
}

ul{
  list-style: none;
}

.usernameMore{
  margin-top: 30px;
  position:static;
  font-size: 40px;
}

.divMore1{
  float: left;
}


.divMore{
  text-align: left;
  float: right;
  margin-left: 50px;
  font-size: 25px;
}

hr{
  margin-top: 20px;
}

.buttonMore{
  color: #fff;
  margin-top: 30px;
  background-color: #A00000;
  transition: all .2s;
}

.buttonMore:hover{
  background-color: #b92323;
}

@media (max-width: 820px){ /*Mobile*/
  .buscador-main{
    margin: 0 15px;
  }
}


@media (max-width: 540px) {

  /*Mobile*/
  .usuariosContainer {
    padding-bottom: 70px;
  }

  .searcherContainer {
    width: 305px;
    height: 62px;
    font-size: 15px;
  }

  .searcherContainer h1 {
    font-size: 18px;
  }

  .personCard {
    min-width: 289px;
    max-width: 210px;

  }
}


@media (max-width: 280px) {

  /*Mobile*/
  .usuariosContainer {
    padding-bottom: 70px;
  }

  .searcherContainer {
    width: 205px;
    height: 62px;
    font-size: 15px;
  }

  .searcherContainer h1 {
    font-size: 15px;
  }

  .personCard {
    min-width: 189px;
    max-width: 110px;
    font-size: 15px;
  }
}