.discleimer-logo{
   padding-top: 35%;
}
.uvm-img{
    height: 210px;
    align-items: center;
}
.discleimer-logo{
   align-items: center;
}
.discleimer-mensaje{
   color: black;
   font-family: "Chivo", sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
   text-align: center;
   height: 150px;
   width: 340px;
   align-items: center;
   margin-top: 30px;
}
@media (min-width: 700px){ /*Tablet*/
   .uvm-img{
    align-items: center; 
    height: 300px;
   }
   .discleimer-logo{
      padding-top: 22%;
   }
   .discleimer-mensaje{
      width: 380px;
      font-size: 1.3em;
      text-align: center;
   }
}
@media (min-width: 1000px){ /*Desktop*/
   .uvm-img{
      align-items: center; 
      height: 300px;
     }
     .discleimer-logo{
        padding-top: 6%;
     }
     .discleimer-mensaje{
        width: 380px;
        font-size: 1.3em;
        text-align: center;
        margin-top: 40px;
     }
}
  