@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.form-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 10px;
}

.tittle_user_form{
    color: #000;
}

.form-user {
    display: flex;
    flex-direction: column;
    padding: 45px 31px 45px 31px;
    gap: 35px;
    border: 4px solid #A00000;
    border-radius: 50px;
    align-items: center;
    background: #FFF;
    justify-content: center;
}

.input-user {
    width: 407px;
    height: 50px;
    padding: 0px 21px;

    border-radius: 20px;
    background: #E4DFDF;

    color: var(--form-letra, #544F4F);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p-input-user {
    margin-top: -30px;
    color: #A00000;
}

.p-error-user {
    background-color: gainsboro;
    padding: 10px;
    color: #A00000;
    border-radius: 20px;
}

.button-user {
    padding: 16px 45px;
    border-radius: 20px;
    background: var(--Primary, #042A53);

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

  
  @media (max-width: 540px) {   /* Mobile */
    .form-user {
        padding: 25px 2rem;
    }
    .input-user {
        width: 207px;
        height: 50px;
    }
  }
  
  @media (max-width: 280px) {   /* Mobile */
    .form-user {
        padding: 25px 1rem;
    }
  }