.header {
    background-color: #042A53;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 70px;
}

.nav_container{
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.logo-header {
    height: 40px;
    margin: 0 5px;
    /*margin-left: 20px;
   margin-top: 5px;*/
}

.div-logo {
    margin-left: 20px;
    margin-top: 5px;
}

.div-user {
    color: white;
    margin-right: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.button-login{
    padding: 3px 2px;
    font-size: 13px;
}

.p-user{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

@media (max-width: 700px){ /*Tablet*/
    .div-logo{
     align-items: center; 
     margin-left: auto;
     margin-right: auto;
    }

    .button-login {
        padding: 0.2em 0.5em;
    }
}

@media (max-width: 900px) {
    /*Tablet*/
    .ul_links {
        background-color: #042A53;

    }
    
}

.menu_mobile{
    display: none;
}

a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}


#menu_hamburguesa{
    display: none;
}
#menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - 70px);
}

.list_icon {
   /*  color: #000000; */
    color: #fff;
    cursor: pointer;
    margin: 50% 0;
}
.ul_links {
    background-color: rgb(255, 255, 255);

        width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    height:0;
    overflow: auto;
    /* height: calc(100vh - var(--altura_header)); */
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content:flex-start;
    align-items: center;
    gap: 3rem;
    z-index: 999;
    transition: all .3s;
}

.link {
    margin-top: 20px;
    font-size: 2em;
    color: #000000;
    font-weight: bold;
}

.link:hover {
    background-color: #042A53;
    color: #fff;
    font-weight: bold;
}


/* Desktop */

@media (min-width: 1110px){
    .div-user {
        display: flex;
        color: white;
        margin-right: 20px;
        margin-left: 5px;
        align-items: center;
        flex-direction: row;
        column-gap: 20px;  
        justify-content: center; 
     }
    .p-user{
        margin-right: 5px;
    }
     
    .mobile {
        display: none;
   }
   .labe_hamburguesa {
       display: none;
   }
   .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row; 
        gap: 0;
        overflow: hidden;
        text-align: center;
    }
    .ul_links{
        float:inline-end;
        justify-content:flex-end;
        margin:0;
        top: 0px;
        align-items:flex-end;
        background-color: #042A53;
    }
   .link{
        background-color: none;
        color: #fff;
        font-size: 0.9rem;
        padding: .2rem .7rem;
    }
    .link:hover{
        color: #aff6ff;
    }
    .button-login{
        padding: 0;
    }
    /*Desplegable*/
    ul li ul.ul_links_hidden li{
        display: block;
        background-color: #0b5bb1;
        text-align: start;
        padding-left: 5px;
    }
    ul li ul.ul_links_hidden{
        width: 150px;
        position: absolute;
        display: none;
        padding-top: 1.45rem;;
        background-color: #042A53;;
    }
    ul li:hover ul.ul_links_hidden{
        display: block;
    } 
    .link_hidden{
        color: #fff;
        font-weight: bold;
    }
    .link_hidden:hover{
        color: #fff;
    }
    .li_links_hidden:hover{
        background-color: #177ce7;
    }

}

/*Huge*/
@media (min-width: 1127px) {
    .link{
        font-size: 1rem;
    }
    .div-user{
       gap: 0;
    }
    .button-login{
        padding: 3px 2px;
    }
    /*Desplegable*/
    ul li ul.ul_links_hidden li{
        display: block;
        background-color: #0b5bb1;
        padding: 5px;
    }
    ul li ul.ul_links_hidden{
        padding-top: 1.45rem;
        background-color: #042A53;
    }
}