.sent_container{
  position: absolute;
  border-radius: 50px;
  border: 4px solid #A00000;
  background: #FFF;
  width:  300px;
  display: inline-block;
  margin: 30px 40%;
}

.sent_info{
  margin: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

@media (max-width: 912px) {   /* Tablet */
  .sent_container{
    margin: 30px 20%;
  }
}
